.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (max-width: 640px) {
  .row {
    grid-template-columns: 1fr;
  }
}
